/* -------------------------GLOBAL STYLES----------------------------- */

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

 ul {
    margin: 0;
    padding-left: 0;
 }

 img {
    display: block;
 }



.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}


.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
}



/* -----------------------header----------------------------------- */





.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    /* padding-top: 28px;
    padding-bottom: 28px; */
}

.header-nav-a {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 76px;
        position: relative;
}

.header-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

.active {
    color: #404bbf;
}
.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active:active::after {
        content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-items {
    position: relative;
}




.header-list-item:hover,.header-list-item:active,.header-list-item:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-adress-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-adress-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        font-style: normal;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
}

.header-adress-list-item:hover,
.header-adress-list-item:focus {
    color: #404bbf;
}


/* --------------------------HERO------------------------------------- */

.main {
    /* padding-top: 188px;
    padding-bottom: 188px; */
}

.hero-subtitle {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
}


.hero-subtitle .container {

}

.hero-wraper {
    padding-top: 188px;
    padding-bottom: 188px;
    }



.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        padding-bottom: 48px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        display: block;
        margin: 0 auto;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
        transition-property: background;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}  

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background: #404bbf;
}




/* ------------------------------------------------------------------- */


.section-subtitle-featchers {
    padding-top: 120px;
    padding-bottom: 120px;
}


.section-list-featchers {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
}

.section-list-item {
    width: calc((100% - 72px)/4);
    border-radius: 0 0 4px 4px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.section-title-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.section-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-svg-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-svg-div {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    padding: 24px 100px 24px 100px;
    margin-bottom: 8px;
}

/* --------------------------------------------------------------------- */

.section-ourteam {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        display: block;
        margin-bottom: 72px;
}

.ourteam-list {
    list-style-type: none;
    display: flex;
    align-items: center;;
    gap: 24px;

}


.ourteam-div {
    padding: 32px 16px 32px 16px;
}


.ourteam-list-item {
    background-color: #fff;
    width: calc((100% - 72px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }



.ourteam-img {

}

.ourtime-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.ourtime-list-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.ourteam-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.ourteam-a {
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-svg-insta {
    fill: #f4f4fd;
}

.ourteam-svg-twitter {
    fill: #f4f4fd;
}

.ourteam-svg-facebook {
    fill: #f4f4fd;
}

.ourteam-svg-linkedin {
    fill: #f4f4fd;
}

.ourteam-a:hover {
    background-color: #404BBF;
}

.ourteam-a:focus {
    background-color: #404BBF;
}


/* ----------------------------------------------------------------- */


.section-ourportfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourportfolio-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}



.ourportfolio-div {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        width: 360px;
        padding: 32px 16px;

}



.ourportfolio-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.ourportfolio-list-item {
    width: 360px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-img {

}

.ourportfolio-list-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.ourportfolio-list-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


.ourportfolio-hl-div {
    position: relative;
    overflow: hidden;
}

.ourportfolio-hidden-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        font-family: "Roboto", sans-serif;
        background-color: #4d5ae5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 32px 164px 32px;
        transition-property: transform;
        transform: translateY(100%);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
}

.ourportfolio-list-item:hover .ourportfolio-hidden-text {
    transform: translateY(0);
}

.ourportfolio-list-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



/* ------------------------------------------------------------ */

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        text-decoration: none;
        display: block;
        margin-bottom: 16px;
}


.footer-div {
    max-width: 264px;
}


.footer-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}


.footer-wrapper {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.footer-p {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        font-family: "Roboto", sans-serif;
    display: inline-block;
    padding-left: 0;
}


.footer-icons-div {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.footer-icons {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 16px
}



.footer-a {
    width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-insta {
    fill: #f4f4fd;
}

.footer-svg-twitter {
    fill: #f4f4fd;
}

.footer-svg-facebook {
    fill: #f4f4fd;
}

.footer-svg-linkedin {
    fill: #f4f4fd;
}


.footer-a:hover {
    background-color: #31D0AA;
}

.footer-a:focus {
    background-color: #31D0AA;
}

.footer-form-div {
    margin-left: 80px;
    max-width: 453px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background: transparent;
        outline: transparent;
        color: white;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition-property: border-color;
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            padding-left: 16px;
}

.footer-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 12px;
    
        /* line-height: 24px; */
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}

.footer-input:hover {
    border-color: #31d0aa;
}

.footer-form-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-email-submit-btn {
    border-radius: 4px;
        padding: 8px 64px 8px 24px;
        /* width: 165px;
        height: 40px; */
        background: #4d5ae5;
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
            font-size: 16px;
        
            /* line-height: 24px; */
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            cursor: pointer;
            position: relative;
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-email-submit-btn:hover {
    background-color: #31d0aa;
}

.footer-btn-icon {
    fill: #fff;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}


/* -----------------------OVERLAY------------------------------- */




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
}



.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background: #e7e9fc;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close:hover {
    background: #404bbf;
}

.modal-close-svg {
    fill: #2e2f42;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-svg {
    fill: #fff;
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        position: absolute;
        top: 74px;
        left: 24px;
        right: 24px;
        display: block;
        margin-bottom: 16px
}

.modal-input {
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 40px;
        padding-left: 42px;
        outline: transparent;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #404bbf;
}


.modal-form {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 112px;
}


.modal-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 12px;
    
        /* line-height: 14px; */
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

textarea::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}


.modal-textarea {
    width: 100%;
    resize: none;
    margin-bottom: 8px;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        margin-bottom: 16px;
}

.modal-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin: 0;
    display: flex;
        align-items: center;
}

.modal-checkbox:checked + .modal-label-checkbox .modal-label-span {
    background: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.modal-label-checkbox {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    
    /* display: flex;
    align-items: center; */

    a {
        /* line-height: 16px; */
            line-height: 1.33333;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #4d5ae5;
    }
}



.modal-label-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
}



.modal-checkbox-wrapper {
    display: flex;
        align-items: center;
        gap: 8px;
}






.modal-send-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
            padding: 16px 32px;
            width: 169px;
            height: 56px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: #4d5ae5;
            display: block;
            margin: 0 auto;
            margin-top: 24px;
            transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-button:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}




.person-wrapper {
    position: relative;
    
}

.svg-modal-person {
    position: absolute;
    left: 19px;
    top: 11px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus ~ .after-wrapper .svg-modal-person {
    fill: #404bbf;
}

.after-wrapper::after {
    content: "";
    position: absolute;
    border: 1.25px solid #2e2f42;
        width: 0;
        height: 18px;
        background-color: #2e2f42;
        top: 11px;
        left: 38px;
}



.mobile-wrapper {
    position: relative;
    
}


.svg-modal-phone {
    position: absolute;
    left: 19px;
    top: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .svg-modal-phone {
    fill: #404bbf;
}

.email-wrapper {
    position: relative;
    
}
.svg-modal-email {
    position: absolute;
    left: 19px;
    top: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .svg-modal-email {
    fill: #404bbf;
}